<div id="logIn" class="bg-image" *ngIf="(authService.getObservableCurrentUser | async); else authFalse">
  <div id="loggedIn" class="bg-image">
    <button  class="btn btn-secondary" (click)="authService.logOut()" > LogOut </button>
    <button class="btn btn-success" routerLink="grass">Gotta cath'em all</button>
    <button class="btn btn-info" routerLink="captures">Capture History</button>
  </div>
</div>
<ng-template #authFalse>
  <div  class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <p-card class="shadow-2-strong ">
      <button class="btn btn-danger" (click)="authService.logIn()"> Log-in with Google <i class="pi pi-google"></i></button>
    </p-card>
  </div>
</ng-template>

<router-outlet></router-outlet>