<div id="logIn" class="img-fluid logIn" *ngIf="(authService.getObservableCurrentUser | async); else authFalse">
  <div class="logged ">
    <div class="body">
      <button pButton type="button" (click)="authService.logOut()" label="Log out" class="p-button-secondary"></button>
      <div class="d-flex flex-column justify-content-center align-items-center" >
        <div class="container-fluid d-inline-flex flex-row  min-vh-100 justify-content-center align-items-center">
          <button pButton type="button" routerLink="grass" label="Gotta cath'em all" class="p-button-help"></button>
          <button pButton type="button" label="Capture History" routerLink="captures" class="p-button-warning"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #authFalse>
  <div  class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <p-card class="shadow-2-strong ">
      <button class="btn btn-danger" (click)="authService.logIn()"> Log-in with Google <i class="pi pi-google"></i></button>
    </p-card>
  </div>
</ng-template>

<router-outlet></router-outlet>
