.body{
  margin: 10px;
}
.img-fluid{
  background:url(https://i.pinimg.com/originals/7c/67/8b/7c678bffd31dc92dc80d95d471b0e83d.png);
  min-height : 100%;
  min-width : 100%;
  background-size:100% 100%;
  background-repeat:no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
 }
.logged{
  background: url(https://raw.githubusercontent.com/libretro/common-overlays/master/borders/gba-4k.png);
  min-height : 100%;
  min-width : 100%;
  background-size:100% 100%;
  background-repeat:no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;

}
.d-inline-flex{
  gap: 10px;
}
